body {
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
}

.container {
  display: flex; 
}

.calculator {
  width: 300px;
  margin-left: calc(50% - 170px); 
  margin-right: 20px;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.response { 
  width: 300px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.form-group {
  margin-bottom: 15px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
}

.form-group input, .form-group select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 3px;
}

.form-group input[type="submit"] {
  background-color: #4CAF50;
  color: white;
  cursor: pointer;
}

.result {
  margin-top: 20px;
  text-align: center;
  font-weight: bold;
}

.error {
  color: red;
}